* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(./tempo.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

h1 {
    margin-bottom: 30px;
    padding: 10px;
    text-shadow: 25px black;
    font-stretch: extra-condensed;
    font-weight: bolder;
    color: #FFF;
}

h1:hover .input:focus {
    text-emphasis-color: #000331;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: #FFF;
    border-radius: 10px 1px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.input:focus {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}